body {
    background-image: url('../images/pale-yellow.png');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    background-size: cover;
}